body{
	background-repeat: repeat;
	font-family: 'Roboto Condensed', sans-serif;
}
.p-0{
	padding: 0;
}
.pl-0{
	padding-left: 0;
}
.pr-0{
	padding-right: 0;
}
.mb-10{
	margin-bottom: 15px
}
header{
	height: 4em;
	line-height: 4em;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
	ul.linkWrap{
		margin: 0;
		padding: 0;
		text-align: right;
		li{
			display: inline-block;
			padding: 10px 25px;
			a{
				display: inline-block;
				color: #fff;
				text-decoration: none;
				font-size: 17px;
				font-weight: 600;
				-moz-transition: all 0.3s;
		  		-webkit-transition: all 0.3s;
		  		transition: all 0.3s;
				&:hover{
					text-decoration: none;
					color: #01b1e6;
					-moz-transition: all 0.3s;
			  		-webkit-transition: all 0.3s;
			  		transition: all 0.3s;
				}
			}
		}
	}
	.logo{
		img{
			width: 50%;
		}
	}
}
.text-center{
	text-align: center;
}
.content{
	min-height: 50em;
	.mainBanner{
		position: relative;
		width: 100%;
		height: 50em;
		.coverBannerImg{
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: 50em;
		}
		.infoBannerIndicator{
			position: absolute;
		    top: 20px;
		    left: 32px;
		}
		.infoBannerImg{
			height: 20em;
			width: 100%;
			padding: 50px 20px 20px 20px;
			color: #fff;
			.title{
				font-weight: 600;
				font-size: 30px;
			}
			.clickableSec{
				position: relative;
				background-position: center left;
				background-repeat: no-repeat;
				background-size: auto 100%;
				height: 6em;
				margin-top: 20px;
				.step1{
					display: block;
					text-decoration: none;
					background-color: #FFB400;
					position: absolute;
					width: 72px;
					height: 72px;
					border-radius: 50%;
					top: 6px;
					left: 6px;
				}
				.step2{
					display: block;
					text-decoration: none;
					background-color: #FB49A8;
					position: absolute;
					width: 72px;
					height: 72px;
					border-radius: 50%; 
					top: 6px;
					left: 143px;
				}
				.step3{
					display: block;
					text-decoration: none;
					background-color: #4ED448;
					position: absolute;
					border-radius: 50%;
					width: 72px;
				    height: 72px;
				    border-radius: 50%;
				    left: 280px;
				    top: 6px;
				}
				.img1{
					position: absolute;
					top: 6px;
					left: 6px;
					width: 68%;
    				height: auto;
    				margin-left: 5px;
    				margin-top: 4px;
    				z-index: 1;				
    			}
				.img2{
					position: absolute;
					top: 6px;
					left: 6px;
					width: 68%;
    				height: auto;
    				margin-left: 5px;
    				margin-top: 4px;
    				z-index: 1;
				}
				.img3{
					position: absolute;
				    left: 6px;
				    top: 6px;
				    width: 40%;
				    height: auto;
				    margin-top: 4px;
				    z-index: 1;
				    margin-left: 16px;
				}
				.text1{
					width: 72px;
					height: 72px;
					color: #fff;
				    position: absolute;
				    top: 85px;
				    text-align: center;
				    line-height: 15px;
    				font-size: 13px;
				}
				.text2{
					width: 72px;
					height: 72px;
					color: #fff;
				    position: absolute;
				    top: 85px;
				    text-align: center;
				    line-height: 15px;
    				font-size: 13px;
				}
				.text3{
					width: 72px;
					height: 72px;
					color: #fff;
				    position: absolute;
				    top: 85px;
				    text-align: center;
				    line-height: 15px;
    				font-size: 13px;
				}
			}
		}
		.mainBannerIndicator{
			width: 15%;
			left: 78%;
			text-align: right;
			bottom: 70px;
			margin: 0;
			padding: 20px;
		}
		.infoSlider{
			position: absolute;
			top: -28em;
    		width: 100%;
			.theInfoBannerWrap{
				position: relative;
				.theInfoBanner{
					width: 100%;
					height: 20em;
					background-color: #15B5EC;
				}
			} 
			.actionBtnWrap{
				position: relative;
				color: #fff;
				
				.actionBtn{
					width: 100%;
					height: 20em;
					background-color: #FFB64E;
					position: relative;
					.btnImg{
						padding: 20px;

						img{
							position: absolute;
						    width: 62%;
						    right: 24px;
						    top: 1px;

						}
					}
					.text{
						position: absolute;
						color: #fff;
						bottom: 20px;
    					left: 20px;
						.get{
							font-size: 25px;
    						font-weight: 600;
    						text-transform: uppercase;

						}
						.started{
							font-size: 25px;
    						font-weight: 600;
    						text-transform: uppercase;

						}
						.arrow{
							position: absolute;
						    left: 100px;
						    top: 39px;
						    width: 40%;
						}
					}
				}
			}
		}
	}
	.featuredSongs{
		min-height: 10em;
		margin-top: 10px;
		.featuredSongsCaption{
			background-color: #FA84C0;
			width: 100%;
			height: 17em;
			position: relative;
			overflow: hidden;
			.dImg{
				position: absolute;
				left: 14px;
    			top: 52px;
				img{
					width: 90%;
				}
			}
			.text{
				color: #fff;
				font-size: 25px;
				font-weight: 600;
				position: absolute;
			    top: 64px;
			    left: 6px;
			}
		}
		.featuredSongsLists{
			.song{
				width: 100%;
				height: 8em;
				display: block;
				text-decoration: none;
				background-repeat: no-repeat;
				background-size: center;
				background-position: contain;
				position: relative;
				overflow: hidden;
				img{
		  			width: 100%;
		  			height: auto;
		  			-moz-transition: all 0.3s;
			  		-webkit-transition: all 0.3s;
			  		transition: all 0.3s;
		  		}
		  		&:hover img{
		  			-moz-transform: scale(1.1);
				    -webkit-transform: scale(1.1);
				    transform: scale(1.1);
				    z-index: 10;
		  		}
		  		.overlay{
					position: absolute;
					background: rgba(0, 0, 0, 0.2);
					top: 0;
					left:0;
					right: 0;
					bottom: 0;
					padding: 10px;
					text-align: center;
					.nameSection{
						display: none;
						color: #fff;
						.name{
							font-weight: 600;
						    font-size: 11px;
						    text-align: left;
						}
						.by{
							font-size: 10px;
    						text-align: left;

						}
					}
					.playSection{
						display: none;
						margin-top: 8px;
    					margin-bottom: 2px;
						i{
							font-size: 25px;
							color: #fff;
						}
					}
					.voteSection{
						color: #fff;
						display: none;
						text-align: center;
						.vote{
							display: inline-block;
						    border: 1px solid #fff;
						    padding: 1px 15px;
						    font-size: 12px;
						    border-radius: 10px;
						    text-decoration: none;
						    margin-top: 10px;
						    transition: all .3s;
						    float: left;
						    &:hover{
								background-color: #fff;
								color: #333;
						    }
						}
						.rank{
							color: #DE2744;
						    font-weight: bold;
						    float: right;
						    display: block;
						    margin-top: 10px;
						    font-size: 15px;
						    font-style: italic;
						}
					}
					
					&:hover{
						background: rgba(0, 0, 0, 0.5);
						.voteSection, .playSection, .nameSection{
							display: block;
						}
					}
				}
			}
		}
	}
	.ratingContentsSections{
		width: 100%;
		min-height: 50em;
		position: relative;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		margin-top: -30px;
		.songList{
			background-color: rgba(21, 181, 236, 0.5);
			height: 35em;
		}
		.captionWrap{
			.caption{
				width: 100%;
				height: 15em;
				background-color: #3C92CC;
				position: relative;
				.capImg{
					position: absolute;
					top: 40px;
					img{
						width: 8em;
					}
				}
			}
			.text{
				position: absolute;
			    font-size: 24px;
			    font-weight: 600;
			    color: #fff;
			    top: 43px;
			}
		}
	}
}

.uploadPage{
	width: 100%;
	height: 60em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	.overlay{
		position: absolute;
		background: rgba(21, 181, 236, 0.9);
		top: 0;
		left:0;
		right: 0;
		bottom: 0;
		padding: 10px;
		.songInfoBtn{
			display: none;
		}
		.formSec{
			width: 74em;
		    height: 54em;
		    background-color: #fff;
		    position: absolute;
		    top: -17px;
		    left: -322px;
		    border-radius: 34em;
		    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
		    padding: 10px;
		    .dForm{
		    	width: 30em;
			    height: 36em;
			    background: #15b5ec;
			    margin-left: 29em;
			    margin-top: 6em;
			    padding: 30px;
			    .title{
			    	color: #fff;
				    font-weight: 600;
				    line-height: 25px;
				    font-size: 20px;
			    }
			    .caption{
			    	color: #fff;
    				font-size: 12px;
    				margin-bottom: 20px;
			    }
			    input, select, textarea{
			    	margin-bottom: 20px;
			    	width: 100%;
			    	border: 2px solid #000;
			    	height: 3.5em;
			    	padding: 10px;
			    	background-color: transparent;
			    }
			    .artistInfoBtn{
			    	background-color: #E15570;
				    color: #fff;
				    display: inline-block;
				    padding: 10px 35px;
				    border-radius: 3px;
				    cursor: pointer;

			    }
		    }
		}
		.infoSec{
			position: relative;
			margin-top: 7em;
		    border: 4px solid #fff;
		    width: 100px;
		    height: 100px;
		    border-radius: 50%;
		    overflow: hidden;
		    background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			margin-left: 5em;
			img.icon{

			}
		}
		.text{
			color: #fff;
			font-weight: 600;
		    font-size: 72px;
		    line-height: 74px;
		    color: #fff;
		    margin-left: 1.2em;
		    margin-top: 16px;
		    text-transform: uppercase;
		}
	}

}
footer{
	position: relative;
	height: 3em;
	line-height: 3em;
	color: #fff;
	background-color: #333;
	ul{
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			padding-right: 20px;
			color: #fbfbfb;
			text-decoration: none;
			a{
				padding-right: 20px;
				color: #fbfbfb;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
					color: #fbfbfb;
				}
			}
		}
	}
}

